<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width" />
    <base target="_parent" />
  </head>
  <body data-courseId="<%= course.custom_canvas_course_id %>">
    <h1>Roster Photos</h1>
    <p class="smaller">
      Roster photos are drawn from the SFU ID photos system.
    </p>
    <p class="smaller">
      In accordance with the Freedom of Information and Protection of Privacy
      Act,
      <a
        href="http://www.sfu.ca/policies/gazette/information/I10-04.html"
        target="_blank"
        rel="noopener"
        >University Policy I10.04</a
      >, and applicable department policy, as an employee of Simon Fraser
      University, I understand that I have a legal obligation to protect
      personal information, including digital identification photographs, to
      which I have access. I understand and agree to use the personal
      information only for purposes which it was collected and purposes
      consistent with my job duties.
    </p>
    <div id="spinner">
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
      <p class="smaller">Loading Roster Photos&hellip;</p>
    </div>
    <div id="error"></div>
    <div id="rosterGrid"></div>
    <script>
      window.COURSE_ROSTER_PHOTOS = {
        courseId: '<%= course.custom_canvas_course_id %>',
      };
    </script>
    <script src="/js/rosterPhotos.js"></script>
  </body>
</html>
